* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aeb9bbcb;
    margin: 3rem;
    margin: 0.5rem;
}

.titulo {
    background-color: #13f0ae;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoSudoH {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    left: 25%;
}

.menu li a {
    padding: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.menu li a:hover {
    color: black;
    /*margin: 0.2rem;*/
    font-weight: bold;
    background-color: #13f0ae;
    border-radius: 10%;
}
/*container con flexbox
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
*/

.cajaHija {
    background-color: #13f0ae;
}


.row h4 {
    background-color: #aeb9bbcb;
}

.row img {
    height: 20rem;
    padding: 0.5rem;
    align-self: center;
}

.pregunta {
    margin: 5px;
}

.boton {
    background-color: #aeb9bbcb;
    border: none;
    color: black;
    margin: 2px;
    padding: 3px 2px;
}
.boton:hover{
    background-color: black;
    color:white;
}

.quiz {
    margin: 5px;
}

.canchasLista {
    text-decoration: none;
    list-style-type: none;
    padding: 0.5rem;
    align-self: center;
    width: 85%;
}

.canchasLista li {
    font-weight: bold;
    text-decoration: underline;
}

/*li{
    background-color: #20bd7c;
    margin:2px;
    width: auto;
    height: 20px;
    padding: 2px 4px;
    text-align: center;
    display: inline-block;
}*/
.pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.logoSudoF {
    width: 4.8rem;
    height: 5rem;
}

.pie h5 {
    font-size: 18px;
    text-align: center;
}

.linkUtiles img {
    align-items: baseline;
    margin: 5px;
    padding-left: 20px;
}

.instagram {
    width: 30px;
    margin: 0 0.2rem;
}

.fhsb {
    width: 125px;
    margin: 0 0.2rem;
}

.facebook {
    width: 60px;
    margin: 0 0.2rem;
}