* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aeb9bbcb;
    margin: 3rem;
    margin: 0.5rem;
}

.titulo {
    background-color: #13f0ae;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-size: 30px;
    text-align: center;
}
.logoSudoH {
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    left: 25%;
}

.menu li a {
    padding: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
}

.menu li a:hover {
    color: black;
    /*margin: 0.2rem;*/
    font-weight: bold;
    background-color: #13f0ae;
    border-radius: 10%;
}
/*container con flexbox
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
*/

.cajaHija {
    background-color: #13f0ae;
}


.row h4 {
    background-color: #aeb9bbcb;
}

.row img {
    height: 20rem;
    padding: 0.5rem;
    align-self: center;
}

.pregunta {
    margin: 5px;
}

.boton {
    background-color: #aeb9bbcb;
    border: none;
    color: black;
    margin: 2px;
    padding: 3px 2px;
}
.boton:hover{
    background-color: black;
    color:white;
}

.quiz {
    margin: 5px;
}

.canchasLista {
    text-decoration: none;
    list-style-type: none;
    padding: 0.5rem;
    align-self: center;
    width: 85%;
}

.canchasLista li {
    font-weight: bold;
    text-decoration: underline;
}

/*li{
    background-color: #20bd7c;
    margin:2px;
    width: auto;
    height: 20px;
    padding: 2px 4px;
    text-align: center;
    display: inline-block;
}*/
.pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.logoSudoF {
    width: 4.8rem;
    height: 5rem;
}

.pie h5 {
    font-size: 18px;
    text-align: center;
}

.cah {
    align-items: baseline;
    margin: 5px;
    padding-left: 20px;
    height: 4rem;
}

.pahf{
    align-items: baseline;
    margin: 5px;
    padding-left: 20px;
    height: 3rem;
}

.fih{
    align-items: baseline;
    margin: 5px;
    padding-left: 20px;
    height: 3rem;
}

.instagram {
    width: 30px;
    margin: 0 0.2rem;
}

.fhsb {
    width: 125px;
    margin: 0 0.2rem;
}

.facebook {
    width: 60px;
    margin: 0 0.2rem;
}

.listaDescargas li {
    padding: 2px;
    text-decoration: none;
    list-style-type: none;
}

.listaDescargas li a{
    color: black;
    text-decoration: none;
}

.sesion{
    margin:0 20%;
    width: 60%;
}

@media screen and (max-width: 500px){
    .logoSudoH {
        width: 1.5rem;
        height: 1rem;
        margin: 10px;
    }
    h1{
        font-size: 10px;
    }
    .cah {
        width: 2rem;
        height: 1rem;
    }
    .pahf {
        width: 3rem;
        height: 1.5rem;
    }
    .fih {
        width: 3rem;
        height: 1rem;
    }
}
@media screen and (max-width: 800px){
    .logoSudoH {
        width: 4rem;
        height: 5rem;
        margin: 10px;
    }
    h1{
        font-size: 15px;
    }
    .cah {
        width: 4rem;
        height: 2.5rem;
    }
    .pahf {
        width: 7rem;
        height: 2.5rem;
    }
    .fih {
        width: 6rem;
        height: 2.5rem;
    }
    .logoSudoF {
        display: none;
    }
    .documentos{
        font-size: 10px;
    }
    .documentos h5{
        font-size: 15px;
    }
}