@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(174, 185, 187, 0.7960784314);
  margin: 3rem;
  margin: 0.5rem;
  font-family: "Inclusive Sans", sans-serif;
}

.boton {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  border: none;
  color: black;
  margin: 2px;
  padding: 3px 2px;
  border: black 0.5px solid;
}
.boton:hover {
  background: black;
  color: white;
  transform: scale(1.1, 1.1);
}

header .titulo {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .titulo img {
  margin: 10px;
  width: 60%;
  height: 60%;
}
header .titulo img:hover {
  transform: scale(1.1, 1.1);
}
header .titulo h1 {
  font-size: 2rem;
  text-align: center;
}
header h2 {
  font-size: 1.2rem;
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
}
header .clubes {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
header .clubes img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
}
nav .menu li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  left: 25%;
}
nav .menu li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
}
nav .menu li a:hover {
  color: black;
  font-weight: bold;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
  border-radius: 10%;
  transform: scale(1.1, 1.1);
}

.row .cajaHija {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.row .cajaHija h2 {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.row .cajaHija p {
  font-size: 0.8rem;
}
.row .cajaHija img {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: auto;
}
.row .cajaHija label {
  font-size: small;
  margin: 1px;
}

.canchasLista {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  font-size: 0.8rem;
}
.canchasLista .lugar {
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
}

.pie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}

.logoSudoF {
  width: 4.8rem;
  height: 5rem;
}

.pie h3 {
  font-size: 18px;
  text-align: center;
}

.cah {
  align-items: baseline;
  margin: 5px;
  padding-left: 20px;
  height: 4rem;
}
.cah:hover {
  transform: scale(1.1, 1.1);
}

.pahf {
  align-items: baseline;
  margin: 5px;
  padding-left: 20px;
  height: 3rem;
}
.pahf:hover {
  transform: scale(1.1, 1.1);
}

.fih {
  align-items: baseline;
  margin: 5px;
  padding-left: 20px;
  height: 3rem;
}
.fih:hover {
  transform: scale(1.1, 1.1);
}

.instagram {
  width: 30px;
  margin: 0 0.2rem;
}
.instagram:hover {
  transform: scale(1.1, 1.1);
}

.fhsb {
  width: 125px;
  margin: 0 0.2rem;
}
.fhsb:hover {
  transform: scale(1.1, 1.1);
}

.facebook {
  width: 60px;
  margin: 0 0.2rem;
}
.facebook:hover {
  transform: scale(1.1, 1.1);
}

.nosotros {
  display: flex;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.nosotros div {
  justify-content: space-between;
}
.nosotros div h3 {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
  }
  header div img {
    width: 20%;
    height: 20%;
  }
  header div img:hover {
    transform: scale(1.1, 1.1);
  }
  header div h1 {
    font-size: 2rem;
    text-align: center;
  }
  .cah {
    width: 2rem;
    height: 1rem;
  }
  .pahf {
    width: 3rem;
    height: 1.5rem;
  }
  .fih {
    width: 3rem;
    height: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .logoSudoH {
    width: 4rem;
    height: 5rem;
    margin: 10px;
  }
  h1 {
    font-size: 15px;
  }
  .cah {
    width: 4rem;
    height: 2.5rem;
  }
  .pahf {
    width: 7rem;
    height: 2.5rem;
  }
  .fih {
    width: 6rem;
    height: 2.5rem;
  }
  .logoSudoF {
    display: none;
  }
  .documentos {
    font-size: 10px;
  }
  .documentos h5 {
    font-size: 15px;
  }
}
.listaDescargas li {
  padding: 2px;
  text-decoration: none;
  list-style-type: none;
}

.listaDescargas li a {
  color: black;
  text-decoration: none;
}

.reglas {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.cajaDescarga {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.cajaDescarga h2 {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.cajaDescarga p {
  font-size: 0.8rem;
}

.sesion {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.sesion h2 {
  font-weight: bold;
}
.sesion input {
  width: 90%;
}

.portal {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}

.agenda {
  display: flex;
  justify-content: space-around;
}
.agenda .row {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
  margin: 3px;
}
.agenda .row h2 {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.agenda .row img {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=estilossass.css.map */
