@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(174, 185, 187, 0.7960784314);
  margin: 3rem;
  margin: 0.5rem;
  font-family: "Inclusive Sans", sans-serif;
}

.boton {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  border: none;
  color: black;
  margin: 2px;
  padding: 3px 2px;
  border: black 0.5px solid;
}
.boton:hover {
  background: black;
  color: white;
  transform: scale(1.1, 1.1);
}

header .titulo {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .titulo img {
  width: 60%;
  height: 60%;
}
header .titulo img:hover {
  transform: scale(1.1, 1.1);
}
header .titulo h1 {
  font-size: 2rem;
  text-align: center;
}
header h2 {
  font-size: 1.2rem;
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
}
header .clubes {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
header .clubes img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
}
nav .menu li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  left: 25%;
}
nav .menu li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
}
nav .menu li a:hover {
  color: black;
  font-weight: bold;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
  border-radius: 10%;
}

.row .cajaProxFecha, .row .cajaPregunta, .row .cajaCanchas {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.row .cajaProxFecha h3, .row .cajaPregunta h3, .row .cajaCanchas h3 {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.row .cajaProxFecha p, .row .cajaPregunta p, .row .cajaCanchas p {
  font-size: 0.8rem;
}
.row .cajaProxFecha img, .row .cajaPregunta img, .row .cajaCanchas img {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: auto;
}
.row .cajaProxFecha label, .row .cajaPregunta label, .row .cajaCanchas label {
  font-size: small;
  margin: 1px;
}
.canchasLista {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  font-size: 0.8rem;
}
.canchasLista .lugar {
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
}

footer {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
footer .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .row .logoSudoF {
  width: 30%;
  height: 30%;
}
footer .container .row h4 {
  font-size: 20px;
}
footer .container .row .linksUtiles .cah {
  margin: 5px;
  padding-left: 20px;
  height: 4rem;
}
footer .container .row .linksUtiles .cah:hover {
  transform: scale(1.1, 1.1);
}
footer .container .row .linksUtiles .pahf {
  margin: 5px;
  padding-left: 20px;
  height: 3rem;
}
footer .container .row .linksUtiles .pahf:hover {
  transform: scale(1.1, 1.1);
}
footer .container .row .linksUtiles .fih {
  margin: 5px;
  padding-left: 20px;
  height: 3rem;
}
footer .container .row .linksUtiles .fih:hover {
  transform: scale(1.1, 1.1);
}
footer .container .row .redes .instagram {
  width: 30px;
  margin: 0 20px;
}
footer .container .row .redes .instagram:hover {
  transform: scale(1.1, 1.1);
}
footer .container .row .redes .fhsb {
  width: 125px;
  margin: 0 20px;
}
footer .container .row .redes .fhsb:hover {
  transform: scale(1.1, 1.1);
}
footer .container .row .redes .facebook {
  width: 60px;
  margin: 0 20px;
}
footer .container .row .redes .facebook:hover {
  transform: scale(1.1, 1.1);
}

.nosotros {
  display: flex;
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.nosotros div {
  justify-content: space-between;
}
.nosotros div h3 {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  text-align: center;
}

@media screen and (max-width: 660px) {
  header .titulo img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .titulo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
  }
  header .titulo img {
    width: 40%;
    height: 40%;
  }
  header .titulo img:hover {
    transform: scale(1.1, 1.1);
  }
  header .titulo h1 {
    font-size: 90%;
    text-align: center;
  }
  header nav .menu li a {
    font-size: small;
  }
  /*footer {
      .cah {
          width: 15%;
          height: 15%;
      }

      .pahf {
          width: 20%;
          height: 20%;
      }

      .fih {
          width: 20%;
          height: 20%;
      }
      .instagram {
          width: 5%;
          height: 5%;
      }

      .fhsb {
          width: 20%;
          height: 20%;
      }

      .facebook {
          width: 10%;
          height: 10%;
      }
  }*/
}
@media screen and (max-width: 1024px) {
  .logoSudoH {
    width: 40%;
    height: 40%;
    margin: 10px;
  }
  h1 {
    font-size: 15px;
  }
  /*    .cah {
      width: 4rem;
      height: 2.5rem;
  }

  .pahf {
      width: 7rem;
      height: 2.5rem;
  }

  .fih {
      width: 6rem;
      height: 2.5rem;
  }*/
}
@media screen and (max-width: 1199px) {
  .logoSudoF {
    display: none;
  }
}
.listaDescargas li {
  padding: 2px;
  text-decoration: none;
  list-style-type: none;
}

.listaDescargas li a {
  color: black;
  text-decoration: none;
}

.reglas {
  background: linear-gradient(to right, rgba(174, 185, 187, 0.7960784314), #4ebd4e);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.cajaDescarga {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.cajaDescarga h3 {
  font-size: 1.5rem;
}
.cajaDescarga p {
  font-size: 0.8rem;
}

.sesion {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}
.sesion h3 {
  font-weight: bold;
}
.sesion input {
  width: 90%;
}

.portal {
  background: linear-gradient(to left, #13f0ae, #4ebd4e);
}

#division {
  display: flex;
  justify-content: space-around;
}
#division p {
  font-style: inherit;
}

/*# sourceMappingURL=estilossass.css.map */
