* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4ebd4e;
    margin: 3rem;
    margin: 0.5rem;
    font-family: $fuente;
}

.boton {
    background: $colorCajaTitulo;
    border: none;
    color: black;
    margin: 2px;
    padding: 3px 2px;
    border: black 0.5px solid;

    &:hover {
        background: black;
        color: white;
        transform: scale(1.1, 1.1);
    }

}