footer {
    background:$colorCajas;
    .container {
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logoSudoF {
                width: 30%;
                height: 30%;
            }

            .linksUtiles {
                .cah {
                    @include logosPie(5px, 20px, 4rem);

                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }

                .pahf {
                    @include logosPie(5px, 20px, 3rem);

                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }

                .fih {
                    @include logosPie(5px, 20px, 3rem);

                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
            .redes {
                .instagram {
                    width: 30px;
                    margin:0 20px;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
                .fhsb {
                    width: 125px;
                    margin:0 20px;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
                .facebook {
                    width: 60px;
                    margin:0 20px;
                    &:hover {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
    }
}