@media screen and (max-width: 660px) {
    header {
        .titulo {
            img {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .titulo {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap-reverse;
            align-items: center;

            img {
                width: 40%;
                height: 40%;

                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }

            h1 {
                font-size: 90%;
                text-align: center;
            }
        }

        nav {
            .menu {
                li {
                    a {
                        font-size: small;
                    }
                }
            }
        }
    }

    footer {
        .cah {
            width: 15%;
            height: 15%;
        }

        .pahf {
            width: 20%;
            height: 20%;
        }

        .fih {
            width: 20%;
            height: 20%;
        }
        .instagram {
            width: 5%;
            height: 5%;
        }
        
        .fhsb {
            width: 20%;
            height: 20%;
        }
        
        .facebook {
            width: 10%;
            height: 10%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .logoSudoH {
        width: 40%;
        height: 40%;
        margin: 10px;
    }

    h1 {
        font-size: 15px;
    }

    .cah {
        width: 4rem;
        height: 2.5rem;
    }

    .pahf {
        width: 7rem;
        height: 2.5rem;
    }

    .fih {
        width: 6rem;
        height: 2.5rem;
    }

    .logoSudoF {
        display: none;
    }
}