@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
$colorCajas: linear-gradient(to left, #13f0ae, #4ebd4e);
$fuente: 'Inclusive Sans', sans-serif;
$colorCajaTitulo: linear-gradient(to right,#aeb9bbcb,#4ebd4e);